<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated>
      <q-toolbar>

        <q-toolbar-title class="absolute-center">
          To Do App
        </q-toolbar-title>
        <q-btn
          v-if="!getLogged"
          label="Login"
          flat
          icon-right="account_circle"
          class="absolute-right"
          to="/auth" />
          <q-btn
          v-else
          label="Logout"
          flat
          icon-right="account_circle"
          class="absolute-right"
          @click="logoutUser"
           />
      </q-toolbar>
    </q-header>

      <q-footer elevated>

          <q-tabs
            class="text-teal"
          >
            <q-route-tab v-bind:key="link.link" v-for="link in essentialLinks"
              :to="link.link"
              :icon="link.icon"
              :label="link.title"
              exact
            />
          </q-tabs>
      </q-footer>

    <q-drawer
      v-model="leftDrawerOpen"
      :breakpoint="767"
      :width="250"
      bordered
      show-if-above
      content-class="bg-primary"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
         Navigation Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          :url="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },
  computed: {
    ...mapGetters('auth', ['getLogged'])
  },
  methods: {
    ...mapActions('auth', ['logoutUser'])
  },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'ToDo',
          icon: 'list',
          link: '/'
        },
        {
          title: 'Settings',
          icon: 'settings',
          link: '/settings'
        }
      ]
    }
  }
}
</script>

<style>

.q-tab__content, a.q-item {
  color: white
}
@media screen and (max-width: 767px) {
  .q-footer {
    display: none;
  }
}

  .q-drawer .q-router-link--exact-active {
    color: white !important;
  }
</style>
