<template>
    <q-input
    outlined
    v-model="searchValue"
    dense
    v-select-all
    @keyup.esc="searchValue = ''"
    class="q-mb-sm col">
        <template v-slot:append>
          <q-icon v-if="searchValue !== ''" name="close" @click="searchValue = ''" class="cursor-pointer" />
          <q-icon name="search" />
        </template>
      </q-input>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { selectAll } from 'src/directives/directive-select-all.js'
export default {
    computed: {
        ...mapState('tasks', ['search']),
        searchValue: {
            get () {
                return this.search
            },
            set (value) {
                this.setSearchValue(value)
            }
        }
    },
    methods: {
        ...mapActions('tasks', ['setSearchValue'])

    },
    directives: {
        selectAll
    }
}
</script>

<style>

</style>
