<template>
    <div class="col q-mb-sm q-ml-sm">
        <q-select
        v-model="sortBy"
        outlined
        emit-value
        map-options
        :options="options"
        label="Sort By" />
    </div>

</template>

<script>
    import { mapState, mapActions } from 'vuex'
export default {

    data () {
        return {
            options: [
                {
                    label: 'Name',
                    value: 'name'
                },
                {
                    label: 'Date',
                    value: 'dueDate'
                }
            ]
        }
    },
    computed: {
        ...mapState('tasks', ['sort']),
        sortBy: {
            get () {
                return this.sort
            },
            set (value) {
                this.setSortOption(value)
            }
        }
    },
    methods: {
        ...mapActions('tasks', ['setSortOption'])
    }
}
</script>

<style scoped>
    .q-select {
        flex: 0 0 112px;
    }
</style>
