<template>
<q-page padding>
     <q-card class="auth-page">
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab color="primary" class="auth-label" name="login" label="Login" />
          <q-tab color="primary" class="auth-label" name="register" label="Register" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="login">
            <register :tab="'login'" />
          </q-tab-panel>

          <q-tab-panel name="register">
            <register :tab="'register'" />
          </q-tab-panel>
        </q-tab-panels>
      </q-card>

</q-page>
</template>

<script>
import Register from 'components/Auth/Register.vue'
export default {
    data () {
        return {
            tab: 'register'
        }
    },
    components: {
        register: Register
    }
}
</script>

<style>
.auth-page {
    max-width: 500px;
    margin: 0 auto;
}
.auth-label .q-tab__label{
    color: gray !important
}
</style>
