<template>
    <!--
    Awesome Exercise 2 - Vue.js Lists & Components

    1) Create an array for the food items you see on the page. Each object in the array should contain properties for the image url, name, description and deliciousness
    2) Create a v-for loop that displays these food items onto the page, with all the data coming from the food array (hint: for the image src, use :src)
    3) Add your own food item to the list
    4) Create a child component and use it to display each of your items (don't use the components/Solution/Food.vue file)
    5) Add unique id's to the food array for each item, and apply these to a :key property on your v-for loop

    -->
  <q-page padding>
      <div class="q-pa-md row items-stretch">
          <food
            v-bind:key="food.id"
            v-for="food in foods"
            :item="food"
            :max="maxDeliciousness"
            ></food>
      </div>
  </q-page>
</template>

<script>
    import Foods from 'components/Foods.vue'
    export default {
        data () {
            return {
                foods: [
                    {
                        id: 1,
                        name: 'Burger',
                        image: 'https://i.imgur.com/0umadnY.jpg',
                        description: 'A burger is a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun.',
                        deliciousness: '4.5'
                    },
                    {
                        id: 2,
                        name: 'Pizza',
                        image: 'https://i.imgur.com/b9zDbyb.jpg',
                        description: 'Pizza is a savory dish of Italian origin, consisting of a usually round, flattened base of leavened wheat-based dough.',
                        deliciousness: '5'
                    },
                    {
                        id: 3,
                        name: 'Sprouts',
                        image: 'https://i.imgur.com/RbKjUjB.jpg',
                        description: 'The Brussels sprout is a member of the Gemmifera Group of cabbages, grown for its edible buds.',
                        deliciousness: '1'
                    },
                    {
                        id: 4,
                        name: 'Spaghetti',
                        image: 'https://www.fivehearthome.com/wp-content/uploads/2019/03/One-Pot-Spaghetti-Recipe-by-Five-Heart-Home_700pxPlate.jpg',
                        description: 'Spaghetti is a popular Italian pasta, often served with a tomato sauce sometimes called spaghetti sauce. The Italian word spago means string, and spaghetti is the plural of spago — a description of what spaghetti looks like. Spaghetti straps are very thin shoulder straps found on dresses and summery tops. In the late 1960s, "spaghetti westerns" were movies about the Wild West, filmed in Italy and directed by Italians.',
                        deliciousness: '8'
                    }
                ],
                maxDeliciousness: 10
            }
        },
        components: {
            food: Foods
        }
    }
</script>

<style>
    .card {
        flex-basis: 210px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .card img {
        max-width: 100%;
    }
    .card-content {
        padding: 0 10px;
    }
    h1 {
        font-size: 23px;
    }
    p {
        font-size: 14px;
    }
</style>
