<template>
<q-page class="home-page">
    <div class="q-pa-md absolute full-width full-height column">
        <div class="row">
            <search />
            <sort/>
        </div>
        <p
        class="text-center q-mt-sm"
        size="16px"
        v-if="search && !Object.keys(tasksToDo).length && !Object.keys(tasksCompleted).length"
        >No search results.</p>
        <q-scroll-area class="relative-position q-scroll-area-tasks">
            <no-task
                v-if="!Object.keys(tasksToDo).length && !search && !getShowOneList"
                class="q-mb-sm"
                @showAddTask="showAddTask = true"
            />
            <tasks-list :bgColor="'bg-orange-4'" v-if="Object.keys(tasksToDo).length" :message="'To Do List'" :tasks="tasksToDo"/>

            <tasks-list :bgColor="'bg-green-4'" v-if="Object.keys(tasksCompleted).length"  :message="'Completed List'" :tasks="tasksCompleted" />
        </q-scroll-area>
        <div class="absolute-bottom no-pointer-events text-right q-mb-lg q-mr-lg">
            <q-btn
            round
            class="all-pointer-events"
            @click="showAddTask = true"
            color="primary"
            size="24px"
            icon="add"
            />
        </div>
    </div>
    <q-dialog v-model="showAddTask">
        <add-task @close="showAddTask = false" />
    </q-dialog>
</q-page>
</template>

<script>
    import { mapGetters, mapState } from 'vuex'
    import AddTask from 'components/Tasks/Modals/AddTask.vue'
    import TasksTodo from 'components/Tasks/TasksTodo.vue'
    import NoTask from 'components/Tasks/NoTask.vue'
    import Search from 'components/Tasks/Tools/Search.vue'
    import Sort from 'components/Tasks/Tools/Sort.vue'

    export default {
        data () {
            return {
                showAddTask: false
            }
        },
       computed: {
           ...mapGetters('tasks', ['tasksToDo', 'tasksCompleted']),
           ...mapGetters('settings', ['getShowOneList']),
           ...mapState('tasks', ['search'])
       },
       components: {
           'add-task': AddTask,
           'tasks-list': TasksTodo,
           'no-task': NoTask,
           search: Search,
           sort: Sort
       },
       mounted () {
           this.$root.$on('showAddTask', () => {
               this.showAddTask = true
           })
       }
    }
</script>

<style>
.home-page {
    padding: 10px;
}

.home-page .text-strike {
    text-decoration: line-through;
}
.q-scroll-area-tasks {
    display: flex;
    flex-grow: 1;
}
</style>
