<template>
    <q-page class="">
        <ul>
                <task
                    v-bind:key="index"
                    v-for="(task, index) in tasks"
                    :task="task"
                    :index="index"
                ></task>
        </ul>
        <p>{{ message }}</p>
    </q-page>
</template>

<script>
    import Task from 'components/Task.vue'
    export default {
        data () {
            return {
                tasks: ['Bannana', 'Strawberies', 'Orange', 'Lime', 'Potato'],
                message: ''
            }
        },
        methods: {
            deleteTasks (index) {
                this.tasks.splice(index, 1)
                if (this.tasks.length <= 1) {
                    this.message = 'Element can not be deleted'
                    return this.message
                }
            }
        },
        components: {
            task: Task
        }
    }
</script>

<style>
</style>
