<template>
  <q-page class="">
    <!-- <Exercise />
    <div class="counter" @click="counter++"> {{ counter }}</div>
    <input v-autofocus v-bind:class=" { 'error' : message.length > 22}"  type="text" v-model="message" @keyup="handleKey" />
    <p v-show="showMessage">{{ message }}</p>
    <br>
    <button @click="clearMessage">Clear</button>
    <button @click="toggleButton"> {{ buttonText}} </button>
  <br>
    <hr>
    <p v-if="message.length > 22">Message should be less than 22 symbols</p>
    <br>
    <h5>UpperCase Message : {{ messageToUpperCase }} </h5>
    <h3> LowerCase Message: {{ message | stringtoLowerCase}}</h3>

    <hr>
    <br>
    <br>
    <br> -->
  </q-page>
</template>

<script>
export default {

  // data () {
  //   return {
  //     message: 'I love Vue.js',
  //     showMessage: true,
  //     buttonText: 'Hide Message',
  //     counter: 0
  //   }
  // },
  // computed: {
  //   messageToUpperCase () {
  //     console.log('tuka sam')
  //     return this.message.toUpperCase()
  //   }
  // },
  // methods: {
  //   toggleButton () {
  //     this.buttonText = this.showMessage ? 'Show Message' : 'Hide Message'
  //     this.showMessage = !this.showMessage
  //   },
  //   clearMessage () {
  //     this.message = ''
  //   },
  //   handleKey (e) {
  //     if (e.keyCode === 27) {
  //       this.clearMessage()
  //     } else if (e.keyCode === 13) {
  //       this.alertMessage()
  //     }
  //   },
  //   alertMessage () {
  //     alert(this.message)
  //   }
  // },
  // filters: {
  //   stringtoLowerCase (value) {
  //     return value.toLowerCase()
  //   }
  // },
  // directives: {
  //   autofocus: {
  //     inserted (el) {
  //       el.focus()
  //     }
  //   }
  // }
}
</script>
<style scoped>
  /* div.counter {
    color: white;
    background: black;
    text-align: center;
    font-size: 14px;
  }
  .error {
    background: pink;
    color: red;
  } */
</style>
