<template>
    <q-page>
        <q-list bordered padding>
            <q-separator spaced />
            <q-item-label header>Notifications</q-item-label>

            <q-item tag="label" v-ripple>
                <q-item-section>
                <q-item-label>Show 12 hour time format</q-item-label>
                </q-item-section>
                <q-item-section side >
                <q-toggle color="blue" v-model="show12HourTimeFormat" />
                </q-item-section>
            </q-item>

            <q-item tag="label" v-ripple>
                <q-item-section>
                <q-item-label>Show tasks in one list</q-item-label>
                </q-item-section>
                <q-item-section side >
                <q-toggle color="green" v-model="tasksInOneList" />
                </q-item-section>
            </q-item>

        </q-list>

        <q-list bordered padding class="q-mt-sm">
            <q-separator spaced />
            <q-item-label header>More</q-item-label>

            <q-item
                tag="label"
                to="/settings/help"
                v-ripple>
                <q-item-section>
                <q-item-label class="help-link">Help</q-item-label>
                </q-item-section>
                <q-item-section side >
                <q-icon name="chevron_right" />
                </q-item-section>
            </q-item>
            <q-item
                tag="label"
                @click="visitOurWebsite"
                v-ripple>
                <q-item-section>
                <q-item-label class="help-link">Visit our website</q-item-label>
                </q-item-section>
                <q-item-section side >
                <q-icon name="chevron_right" />
                </q-item-section>
            </q-item>
            <q-item
                tag="label"
                @click="emailUs"
                v-ripple>
                <q-item-section>
                <q-item-label class="help-link">Contact Us</q-item-label>
                </q-item-section>
                <q-item-section side >
                <q-icon name="chevron_right" />
                </q-item-section>
            </q-item>
        </q-list>
    </q-page>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    import { openURL } from 'quasar'
    export default {
        computed: {
            ...mapGetters('settings', ['getHourTimeFormat', 'getShowOneList']),
            show12HourTimeFormat: {
                get () {
                    return this.getHourTimeFormat
                },
                set (value) {
                    this.setTimeFormat(value)
                }
            },
            tasksInOneList: {
                get () {
                    return this.getShowOneList
                },
                set (value) {
                    this.setShowOneList(value)
                }
            }
        },
        methods: {
            ...mapActions('settings', ['setTimeFormat', 'setShowOneList']),
            visitOurWebsite () {
                openURL('https://www.google.bg')
            },
            emailUs () {
                window.location.href = 'mailtoo:plamenp6@gmail.com?Subject=Feedback'
            }
        }
    }
</script>

<style scoped>
.help-link{
    color: black
}
</style>
