<template>
  <q-item
    clickable
    exact
    :to="url.link"
  >
    <q-item-section
      v-if="url.icon"
    >
      <q-icon :name="url.icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ url.title }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
export default {
  name: 'EssentialLink',
  props: ['url']
}
</script>
