<template>
    <div  class="card shadow-1" v-bind:key="item.id">
        <img :src="item.image" width="198" height="180">
        <div class="card-content">
            <h1 class="text-primary"> {{ item.name}}</h1>
            <p>{{ item.description }}</p>
            <p>
                <small>
                    <b>Delicousness:</b>
                </small>
                <b class="text-primary">
                    {{item.deliciousness}} / {{ max }}
                </b>
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'item',
            'max'
        ]
    }
</script>

<style></style>
