<template>
    <q-banner
        dense
        inline-actions
        class="text-white text-center"
        :class="bgColor"
        >
        <span class="text-bold text-subtitlle1">
            {{title}}
        </span>
    </q-banner>
</template>

<script>
export default {
    props: [
        'title',
        'bgColor'
    ]
}
</script>

<style scoped>

</style>
