<template>
     <li > {{ task }}
        <button @click="deleteTasks(index)">X</button>
    </li>
</template>

<script>
    export default {
        props: [
            'task',
            'index'
        ]
    }
</script>

<style>

</style>
