<template>

    <q-card>
        <q-form @submit.prevent="submitTask">
            <q-card-section class="q-pt-none">
                <modal-header>Add Task</modal-header>

                <modal-task-name
                    :name.sync="taskData.name"
                    ref="ModalTaskName"
                />
                <modal-task-due-date
                    :date.sync="taskData.dueDate"
                    @clear="clearDateTime"
                    ref="ModalTaskDate"
                />
                <modal-task-due-time
                    :time.sync="taskData.dueTime"
                    @clear_time="taskData.dueTime = ''"
                    v-if="taskData.dueDate"
                    ref="ModalTaskTime"
                />

            </q-card-section>
            <modal-buttons/>
        </q-form>
    </q-card>

</template>

<script>
    import { mapActions } from 'vuex'
    import MixinAddEditTask from 'src/mixins/mixin-add-edit-task'

export default {
    data () {
        return {
            taskData: {
                name: '',
                dueDate: '',
                dueTime: '',
                completed: false
            }
        }
    },
    mixins: [
        MixinAddEditTask
    ],
    methods: {
        ...mapActions('tasks', ['addTask']),
        submitTask () {
            this.saveTask(this.taskData)
        },
        saveTask (task) {
            this.addTask(task)
            this.$emit('close')
        },
        clearDateTime () {
            this.taskData.dueDate = ''
            this.taskData.dueTime = ''
        }
    }
}
</script>

<style scoped>

</style>
