<template>

    <q-card>
        <q-form @submit.prevent="submitTask">
            <q-card-section class="q-pt-none">
                <modal-header>Edit Task</modal-header>
                <modal-task-name
                    :name.sync="taskData.name"
                    ref="ModalTaskName"
                />
                <modal-task-due-date
                    :date.sync="taskData.dueDate"
                    @clear="clearDateTime"
                />
                <modal-task-due-time
                    :time.sync="taskData.dueTime"
                    @clear_time="taskData.dueTime = ''"
                    v-if="taskData.dueDate"
                />

            </q-card-section>

           <modal-buttons />
        </q-form>

    </q-card>
</template>
<script>
    import { mapGetters, mapActions } from 'vuex'
    import MixinAddEditTask from 'src/mixins/mixin-add-edit-task'
    export default {
        props: [
            'id', 'task'
        ],
        mixins: [
            MixinAddEditTask
        ],
        data () {
            return {
                taskData: {
                    name: this.task.name,
                    dueDate: this.task.dueDate,
                    dueTime: this.task.dueTime,
                    completed: false
                }
            }
        },
        methods: {
            ...mapGetters('tasks', ['tasks']),
            ...mapActions('tasks', ['updateTask']),
            submitTask () {
                this.editTask()
                 this.$emit('close_edit')
            },
            clearDateTime () {
                this.taskData.dueDate = ''
                this.taskData.dueTime = ''
            },
            editTask (task) {
                 this.updateTask({
                    id: this.id,
                    updates: this.taskData
                })
            }
        }

    }
</script>

<style lang="stylus" scoped>

</style>
