<template>
   <transition
    appear
    enter-active-class="animated zoomIn"
    leave-active-class="animated zoomOut absolute-top"
    >
    <div :class="{'q-mb-sm' : !getShowOneList}">
        <list-header v-if="!getShowOneList" :bgColor="bgColor" :title="message"></list-header>
        <q-list v-if="Object.keys(tasks).length" separator bordered>
            <task  v-for="(task, key) in tasks"
            :key="key"
            :task="task"
            :id="key">
            </task>
        </q-list>
    </div>
   </transition>
</template>

<script>
    import { mapGetters } from 'vuex'
    import Task from 'components/Tasks/Task.vue'
    import ListHeader from 'components/ListHeader.vue'
export default {
    props: [
        'tasks',
        'message',
        'bgColor'
    ],
    components: {
        task: Task,
        'list-header': ListHeader
    },
    computed: {
        ...mapGetters('settings', ['getShowOneList'])
    }
}
</script>

<style >

</style>
