<template>
    <q-item
        clickable
        @click="updateTask({
            id: id,
            updates: {
                    completed: !task.completed,
                }
            }
        )"
        v-touch-hold:1000.mouse="showEditTask"
        :class="task.completed ? 'bg-green-1' : 'bg-orange-1'"
        v-ripple>
        <q-item-section side top>
          <q-checkbox class="no-pointer-events" :value="task.completed" />
        </q-item-section>

        <q-item-section>
          <q-item-label
           :class="{ 'text-strike' : task.completed}"
            v-html="$options.filters.searchHighlight(task.name, search)">
          </q-item-label>
        </q-item-section>

        <q-item-section side top v-if="task.dueDate">
            <div class="row">
                <div class="column justify-center">
                    <q-icon
                        name="event"
                        size="18px"
                        class="q-mr-xs"
                        >
                    </q-icon>
                </div>
                <div class="column">
                    <q-item-label class="row justify-end" caption> {{ task.dueDate | filterDate }}</q-item-label>
                    <q-item-label class="row justify-end" caption> <small>{{ taskDueTime }}</small></q-item-label>
                </div>
            </div>
        </q-item-section>
        <q-item-section side>
            <div class="row">
                <q-btn
                    flat
                    round
                    dense
                    color="bg-primary"
                    @click.stop="showEdit = true"
                    icon="edit" />
                <q-btn
                    flat
                    round
                    dense
                    @click.stop="deleteNote(id, task.name)"
                    color="red" icon="delete" />
            </div>
        </q-item-section>
        <q-dialog v-model="showEdit">
            <task-edit @close_edit="showEdit = false" :id="id" :task="task" />
        </q-dialog>
      </q-item>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import TaskEdit from 'components/Tasks/Modals/EditTask.vue'
import { date } from 'quasar'
export default {
    props: ['task', 'id'],
    data () {
        return {
            showEdit: false
        }
    },
    components: {
        'task-edit': TaskEdit
    },
    computed: {
        ...mapState('tasks', ['search']),
        ...mapGetters('settings', ['getHourTimeFormat']),
        taskDueTime () {
            if (this.getHourTimeFormat) {
                const taskDate = this.task.dueDate + ' ' + this.task.dueTime
                return date.formatDate(taskDate, 'hh:mm A')
            }
            return this.task.dueTime
        }
    },
    methods: {
        ...mapActions('tasks', ['updateTask', 'deleteTask']),
        deleteNote (id, name) {
            this.$q.dialog({
                title: 'Confirm',
                message: 'Delete Task - ' + name,
                cancel: true,
                persistent: true
            }).onOk(() => {
                this.deleteTask(id)
            })
        },
        showEditTask () {
            this.showEdit = true
        },
        hourFormat (value) {
            console.log()
        }
    },
    filters: {
        filterDate (value) {
            return date.formatDate(value, 'MMM D YYYY')
        },
        searchHighlight (value, search) {
            const searchPattern = new RegExp(search, 'i')
            if (search) {
                return value.replace(searchPattern, (match) => {
                    return '<span class="bg-yellow-6">' + match + '</span>'
                })
            }
            return value
        }
    }
}
</script>

<style scoped>

</style>
