<template>
    <div class="row q-mb-sm">
        <q-input
            outlined
            :value="name"
            @input="$emit('update:name', $event)"
            label="Name"
            class="col"
            autofocus
            v-select-all
            :rules="[val => !!val || 'Field is required']"
            :ref="name">
            <template v-if="name" v-slot:append>
                <q-icon name="close" @click="$emit('update:name', '')" class="cursor-pointer" />
            </template>
        </q-input>
    </div>
</template>

<script>
    import { selectAll } from 'src/directives/directive-select-all.js'
export default {
    props: [
        'name'
    ],
    directives: {
        selectAll
    }
}
</script>

<style>

</style>
