<template>
    <div class="row q-mb-sm">
        <q-input
            outlined
            :value="date"
            @input="$emit('update:date', $event)"
            mask="date"
            ref="date"
            label="Due Date"
            class="col"
        >
            <template v-slot:append>
                    <q-icon name="close" v-if="date" @click="$emit('clear')" class="cursor-pointer" />
                <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date :value="date" @input="$emit('update:date', $event)" />
                </q-popup-proxy>
                </q-icon>
            </template>
        </q-input>
    </div>
</template>

<script>
export default {
    props: [
        'date'
    ],
    methods: {
        clearDateTime () {
            this.date = ''
        }
    }
}
</script>

<style scoped>

</style>
