<template>
    <div class="row q-mb-sm">
        <q-input
            label="Due Time"
            filled
            :value="time"
            @input="$emit('update:time', $event)"
            mask="time"
            :rules="['time']"
            ref="dueTime"
            class="col" >
            <template v-slot:append>
                <q-icon name="close" v-if="time" @click="$emit('clear_time')" class="cursor-pointer" />
                <q-icon name="access_time" class="cursor-pointer">
                    <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time :value="time" />
                    </q-popup-proxy>
                </q-icon>
            </template>
        </q-input>
    </div>
</template>

<script>
export default {
    props: [
        'time'
    ]
}
</script>

<style scoped>

</style>
