<template>
    <q-card-actions align="right">
        <q-btn label="SAVE" type="submit" color="primary" />
    </q-card-actions>
</template>

<script>
export default {

}
</script>

<style lang="stylus" scoped>

</style>
